/* Colored Folders */
body {
   --folder-color-1: #D23838; /* red */
   --folder-color-2: #9164DD; /* purple */
   --folder-color-3: #298ccb; /* blue */
   --folder-color-4: #46AC79; /* green */
   --folder-color-5: #a8a435; /* yellow */
   --folder-color-6: #D07A40; /* orange */
}
 
.nav-files-container > div > .nav-folder:nth-child(6n + 1) { --folder-color: var(--folder-color-1); }
.nav-files-container > div > .nav-folder:nth-child(6n + 2) { --folder-color: var(--folder-color-2); }
.nav-files-container > div > .nav-folder:nth-child(6n + 3) { --folder-color: var(--folder-color-3); }
.nav-files-container > div > .nav-folder:nth-child(6n + 4) { --folder-color: var(--folder-color-4); }
.nav-files-container > div > .nav-folder:nth-child(6n + 5) { --folder-color: var(--folder-color-5); }
.nav-files-container > div > .nav-folder:nth-child(6n + 6) { --folder-color: var(--folder-color-6); }
 
.nav-files-container > div > .nav-folder {
   border: 1px solid var(--divider-color);
   border-left: 4px solid var(--folder-color);
   border-radius: var(--radius-s);
}
 
.nav-files-container > div > .nav-folder + .nav-folder {
   margin-top: var(--size-2-2);
}
 
.nav-folder-title {
   color: var(--folder-color);
   font-weight: var(--font-bold);
}
/* Show footnotes on mouseover */
.cm-inline-footnote:not(.cm-inline-footnote-start):not(.cm-inline-footnote-end),
.cm-active .cm-inline-footnote-start::after {
    display: none;
}
.cm-inline-footnote-start::after {
    content:'📒';
    opacity: 1;
    position: absolute;
    background: var(--background-color-default);
    left: 0;
    z-index: 99;
    width: 20px;
}
.cm-active .cm-inline-footnote:not(.cm-inline-footnote-start):not(.cm-inline-footnote-end) {
    display: inline;
}
.cm-inline-footnote-start {
    position: relative;
}
.cm-inline-footnote-start:hover + .cm-inline-footnote:not(.cm-inline-footnote-start):not(.cm-inline-footnote-end) {
    display: inline-block;
    position: absolute;
    background: var(--background-color-default);
    border: 1px solid var(--border-color-light);
    padding: 0.5rem;
    z-index: 999;
    left: auto;
    top: auto;
    margin-left: 0.5em;
    border-radius: 6px;
    box-shadow: 1px 1px 6px var(--border-color-light);
    max-width: 400px;
}
 
 
/* Different bullet symbols for each indentation */
/* LEVEL 1 */
.markdown-reading-view ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-1 .list-bullet:after {
/* Bullet */
height: 7px;
width: 7px;
border-radius: 50%;
}
/* LEVEL 2 */
.markdown-reading-view ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-2 .list-bullet:after {
/* Hollow Bullet */
height: 7px;
width: 7px;
background-color: transparent;
border-style: solid;
border-radius: 50%;
border-width: 1px;
}
/* LEVEL 3 */
.markdown-reading-view ul > li > ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-3 .list-bullet:after {
/* Solid Square */
height: 5px;
width: 5px;
border-radius: 0%;
background-color: rgb(89, 89, 89);
}
.markdown-source-view.mod-cm6 .HyperMD-list-line-3 .list-bullet:after {
/* Solid Square */
height: 7px;
width: 7px;
border-radius: 0%;
background-color: rgb(89, 89, 89);
}
/* LEVEL 4 */
.markdown-reading-view ul > li > ul > li > ul > li > ul > li >.list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-4 .list-bullet:after {
/* Triangle */
height: 0;
width: 0;
background-color: transparent;
border-radius: 0%;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 8px solid;
border-right: 0px solid;
}
 
 
/* Colored Headings and Formatting */
/* Header colors w/ divider line on H1, H2, H3 */
body {
    --h1-color: #9164DD; /* purple */
    --h2-color: #3d99ea; /* blue */
    --h3-color: #e6a700; /* yellow ffba00 */
    --h4-color: #46AC79; /* green */
    --h5-color: #e2891a; /* orange */
    --h6-color: #c71919; /* red */
}
.HyperMD-header-1::after, h1,
.HyperMD-header-2::after, h2,
.HyperMD-header-3::after, h3 {
    display: block;
    content: "";
    padding-bottom: 2px;  
    border-bottom: 1px solid gray;
}
 

/* Add line below note title */
.inline-title {
    padding-bottom: 2px;
    border-bottom: 1px solid lightgray;
}

/* Change background color */
body:not(.is-mobile) {
    --background-primary: #191919; /* dark gray  */
    --background-primary-alt: #3a3a3a; /* lighter gray */
}
 
 
/* Formatting colors */
body {
    --text-normal: #BFBFBF; /* Slightly darker white */
    --bold-color: #B293E7; /* purple */
    --italic-color: #64adee; /* blue */
    --text-highlight-bg: #746119; /* yellow */
}
 
 
/* Rounded highlights */
span.cm-highlight, mark {
    background-color: #746119;
    -webkit-box-decoration-break: clone;
    padding-left:   6px;
    padding-right:  6px;
    padding-top:    0px;
    padding-bottom: 0px;
    border-radius: 10px;
}
 
